[submodule "packages/ir-tools"]
	path = packages/ir-tools
	url = https://github.com/gtsherman/ir-tools.git

[submodule "packages/lucene"]
	path = packages/lucene
	url = https://github.com/gtsherman/lucene.git
